div.body {
  max-width: 100%;
}
div.bodywrapper section {
  background-color: white;
  padding: 0 20px 30px 20px;
}
div.flowchart-container {
  max-width: 1200px;
}
div.footer {
  background-color: #11303D;
}

object {
  max-width: 100%;
}

.bibtex .brackets::before {
  content: "[";
}
.bibtex .brackets::after {
  content: "]"
}

.bibtex.label {
  display: grid;
}
